h1 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}

.customer-container {
	width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	padding: 20px;
}

.customer-screen {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

.table-button-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
